main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50em;

  transition: all 0.4s ease;

  @include xs {
    width: calc(100% - 1em);
  }

  @include sm {
    width: calc(100% - 5em);
  }

  @include md {
    width: calc(100% - 15em);
  }

  @include lg {
    width: calc(100% - 15em);
  }
  @include xl {
    width: calc(100% - 35em);
  }

  @include breakpoint(1400px) {
    width: 50em;
  }

  .logoContainer {
    .logo {
      @include xs {
        margin-top: 10em;
      }

      @include breakpoint(1400px) {
        margin: 10em auto 1em;
      }
    }
  }

  .query-form {
    width: 100%;
    margin: 1em 0;

    .input-field {
      border-radius: 50px;
      width: 100%;
      padding: 1em;
      margin-bottom: 1em;
      transition: all 0.4s ease;

      @include xs {
        padding: 10px;
      }

      img {
        margin: 5px 0 0 0;
        height: 22px;

        @include xs {
          height: 1em;
        }

        @include sm {
          height: 18px;
        }
      }
      input {
        border: 0;
        margin: 0 10px;
        transition: all 0.4s ease;

        @include xs {
          font-size: 1em;
          width: 85%;
          margin-left: 5px;
        }

        @include sm {
          font-size: 18px;
          margin-left: 10px;
        }

        @include breakpoint(1400px) {
          font-size: 22px;
          width: 90%;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .control-buttons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: reverse-flex-end;

      button {
        padding: 10px 22px;
        margin: auto 10px;
        font-size: 18px;
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.4s ease;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
