// Variables

// variables for theme toggle
$light-bg: #fafafa;
$dark-bg: #2a2b35;

$light-search-border: #cecece;
$dark-search-border: #4c4d54;

$dark-text-bg: #353640;

$light-reset: #707070;
$dark-reset: #c6c6c6;

/* variables for all device breakpoints */
$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
