.share-link-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
    min-width: 400px;

    .shared-chat-link-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        button {
            background-color: transparent;
            border: none;
        }
    }

    @media (max-width: 576px) {
        min-width: 350px;
    }
}


.Sharelink-input-box {
    position: relative !important;

    button.Sharelink-input-btn {
        position: absolute;
        right: 0;
        top: -50%;
        bottom: 0;
        transform: translateY(50%);
        margin: auto;
        background: #1F345C;
        color: #fff;
        margin-right: 3px;
        min-width: 100px;
    }
}

.Sharelink-input-box input {
    position: relative;
    background: #fff !important;
    border-radius: 8px;
    color: #011527 !important;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    padding-right: 120px;
}

.shared-chat-paper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.shared-chat-header {
    text-align: center;
    padding: 16px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 16px;

    .shared-chat-title {
        font-weight: bold;
        font-size: 24px;
    }
}

.shared-chat-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2) !important;
    text-align: center;
}

.shared-chat-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px
}

.sharedChatMsgTxt {
    opacity: 0.5;
    margin: 7px 0 !important;
    font-size: 15px !important;
}

.sharedChatMsgTitle {
    font-size: 17px !important;
}

.sharechat-mail-icon {
    background-color: #deeaf8 !important;
    border-radius: 40px !important;
    height: 52px !important;
    width: 52px !important;
    padding: 5px !important;
    min-width: 52px !important;
    margin: 0px 8px !important;

    svg {
        color: #3b6faa;
    }
}

.copy-link-loader {
    color: #fff !important;
}