.mikvah-detail-box {
    .mikvah-detail-info {
        display: flex;
        margin-bottom: 15px;
        border-bottom: 1px solid #4a6a86;
        padding-bottom: 15px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        .mikvah-detail-info-logo {
            margin-right: 10px;
        }
    }
}

.Mikvah-Detail-Wrapper {
    background: #022b4f;
    border: 1px solid #4a6a86;
}

@media (max-width: 768px) { 
    .mikvah-detail-box {
        .mikvah-detail-info:last-child {
            border-bottom: 1px solid #4a6a86;
            padding-bottom: 15px; 
        }
        .mobile-last-border-hide{
            border-bottom: none !important;
            padding-bottom: 0 !important;
        }
    }
}
