.account-delete-confirm-dialog .css-6khx7a-MuiPaper-root-MuiDialog-paper {
  border-radius: 24px !important;
  max-width: 500px !important;
  padding: 15px 15px !important;
}
.confirm-dialog.account-delete-confirm-dialog{
  z-index: 9999999 !important;
}

.confirm-dialog {
  .confirm-dialog-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .confirm-dialog-content {
    padding: 20px;
    text-align: center;
  }

  .confirm-dialog-text {
    margin-bottom: 10px;
    font-size: 16px;
    color: #90B1CE;

    ul {
      margin-left: 0px !important;
      list-style: none;

      li {
        margin-bottom: 5px;
      }

      svg {
        font-size: 12px;
      }
    }
  }

  .confirm-dialog-text-heading {
    color: #fff;
    font-size: 18px !important;
    font-weight: 600;
  }

  .confirm-dialog-actions {
    padding: 0 20px 20px;
    display: block;

    .confirm-cancel-button {
      background-color: #70A8DB;
      color: #2b4d6b;
      text-transform: capitalize;
      font-size: 16px;
      display: block;
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
      font-weight: 700;


      &:hover {
        background-color: #f0f0f0;
      }
    }

    .confirm-delete-button {
      border: 1px solid #f44336;
      color: #f44336;
      font-size: 16px;
      display: block;
      width: 100%;
      
      &:hover {
        background-color: #d32f2f;
      }

      &:disabled {
        background-color: #f44336;
        color: white;
      }
    }

    .loading-spinner {
      color: white;
    }
  }

  .thank-you-text {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: white;
  }
}

@media (max-width: 600px) {
  .confirm-dialog-actions {

    .confirm-cancel-button,
    .confirm-delete-button {
      width: 100%;
      min-width: unset;
      margin-bottom: 10px;
      margin-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}