.payment-failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.payment-failure-box {
    max-width: 360px;
    width: 100%;
    background-color: #063762; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.payment-failure-box .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.payment-failure-box .logo {
    width: 60%;
}

.payment-failure-box .title {
    margin-bottom: 20px !important;
    text-align: center;
    font-weight: bold;
    color: #fff; 
}

.payment-failure-box .message {
    margin-bottom: 30px !important;
    text-align: center;
    color: #ccc; 
}