.sidebarStyle div {
    border-right: none;
}

.fixedSearchBox {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0px auto 10px;
    width: 100%;
    max-width: 92%;
}

.carousel-item {
    margin-right: 8px;
    margin-bottom: 20px;
  }

  .home-table-scroll{
    overflow-x: auto;
  }

.home-table-scroll .css-1v17xvx-MuiTableCell-root, .home-table-scroll .css-pu41or,.home-table-scroll .css-1bigob2, .home-table-scroll .css-1ygcj2i-MuiTableCell-root{
  border-bottom: none;
  padding: 15px 10px 15px 0px;
}  


//   .answerBox.MuiBox-root.css-0 {
//     // height: 100%;
//     overflow-y: auto;
//     min-height: 67vh;
//     max-height: 67vh;
// }

/* width */
::-webkit-scrollbar {
    width: 0px;
  }

  // .home-table-scroll:hover::-webkit-scrollbar {
  //   height: 5px;
  // }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .searchBorderRemove .css-9425fu-MuiOutlinedInput-notchedOutline, .searchBorderRemove .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    position: absolute;
    border-color: transparent !important;
  }