.sidebarStyle div {
    border-right: none;
}

.fixedSearchBox {
    position: fixed;
    // bottom: 0px;
    left: 30px;
    right: 30px;
    max-width: 100%;
    // padding-top: 20px;
}

.carousel-item {
    margin-right: 8px;
    margin-bottom: 20px;
  }

  .home-table-scroll{
    overflow-x: auto;
  }

.home-table-scroll .css-1v17xvx-MuiTableCell-root, .home-table-scroll .css-pu41or,.home-table-scroll .css-1bigob2, .home-table-scroll .css-1ygcj2i-MuiTableCell-root{
  border-bottom: none;
  padding: 15px 10px 15px 0px;
}  

.css-19r6kue-MuiContainer-root, .css-1ekb41w {
  max-width: none !important;
}

.ya-home-search-wrapper fieldset{
  border: none;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar {
    height: 4px;
  }

  .home-table-scroll::-webkit-scrollbar {
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .searchBorderRemove .css-9425fu-MuiOutlinedInput-notchedOutline, .searchBorderRemove .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    position: absolute;
    border-color: transparent !important;
  }

  @media (max-width: 600px) {
    .fixedSearchBox {
        right: 20px;
        left: 20px;
    }
}
@media (min-width: 1100px) {
  .fixedSearchBox{
    left: 40px;
    right: 40px;
  }
}

@media (min-width: 1300px) {
  .fixedSearchBox{
    left: 50px;
    right: 50px;
  }
}

@media (min-width: 1800px) {
  .fixedSearchBox {
      max-width: 100%;
      left: 60px;
      right: 60px;
  }
}

@media (min-width: 2300px) {
  .fixedSearchBox {
      max-width: 100%;
      left: 70px;
      right: 70px;
  }
}
@media (min-width: 2800px) {
  .fixedSearchBox {
      max-width: 100%;
      left: 80px;
      right: 80px;
  }
}
