.ya-home-sidebar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}

.ya-sidebar-styles {
    width: 270px;
    padding: 16px;
    color: #fff;
    border: none;
    padding-left: 15px;

    .ya-sidebar-styles-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.ya-new-chat-btn {
    padding: 14px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    display: flex !important;
    width: 100% !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    font-size: 16px !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-top: 10px !important;
}

.ya-new-chat-box {
    margin-top: 25px;
    max-height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ya-chat-session-btn {
    padding: 11px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    display: flex !important;
    font-size: 16px !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-top: 10px !important;
    position: relative !important;
}

.ya-chat-session-name {
    width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    margin-left: auto;
}

.ya-home-box {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: 100vh;
    border-radius: 20px;
    bottom: 20px;
    margin-top: 0px;
}

.ya-answerBox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 80px);
    max-height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}

.ya-question-box {
    margin-bottom: 10px;
    background-color: #1d4a72;

    .ya-question-box-flex {
        display: flex;
        align-items: center;

        .ya-ChatBubbleOutlineIcon {
            margin-right: 8px;
        }
    }
}

.ya-progress-bar-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ya-home-main-text-heading {
    font-size: 33px !important;
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ya-slider-btn {
    padding: 8px 12px !important;
    border-radius: 50px !important;
    cursor: pointer !important;
    text-align: center !important;
    display: inline-block !important;
    width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 16px !important;
    text-transform: none !important;
}

.ya-home-table-btn {
    padding: 8px 16px !important;
    border-radius: 50px !important;
    cursor: pointer !important;
    text-align: left !important;
    display: inline-block !important;
    width: 100% !important;
    /* minWidth: 200px!important; */
    /* maxWidth: 200px!important; */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 16px !important;
    text-transform: none !important;
}

.ya-home-search-wrapper {
    bottom: 0!important;
    background-color: transparent!important;
    box-shadow: none!important;
    z-index: 1000!important;
    display: flex!important;
    align-items: center!important;
}

.ya-send-btn-box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 16px;
}
.ya-send-icon {
    margin-left: 16px;
    margin-top: 0px;
}