.enterprise-status {
    width: 300px;
    margin: auto;

    button {
        width: 300px;
        margin: auto;
    }
}

// ==========EnterpriseSignup===============
.linkStyle {
    color: #457bac !important;
    font-size: 15px !important;
    text-decoration: none !important;
    padding-right: 20px !important;
    border-right: 1px solid #457bac;
}

.linkStyle-center-space {
    margin-right: 10px;
    margin-left: 10px
}