.EnterpriseCategorySelect div {
    display: flex;
    padding: 8px;
    align-items: center;
    border: 1px solid #6fa8dd;
    justify-content: flex-start;
}

.EnterpriseErrorBorder div {
    // border: 1px solid #d32f2f;
    border-radius: 9px;
}

.EnterpriseCategorySelect .css-cveggr-MuiListItemIcon-root {
    min-width: 20px;
    border: none;
}

.EnterpriseCategorySelect .css-1f8bwsm {
    min-width: 20px !important;
    border: none;
}

.EnterpriseCategorySelect .MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
    border: none;
}

.tabStyle span.MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    background-color: #72a9de;
}

.tabStyle span.MuiTabs-indicator.css-1dpyo67-MuiTabs-indicator {
    background-color: #72a9de !important;
}

.tabStyle .Mui-selected {
    color: #72a9de !important;
}

.InputFieldColor input {
    color: #13538b !important;
}

.InputFieldColor .MuiInputBase-root {
    background-color: #eaf5ff;
    border: 1px solid #6fa8dd;
    border-radius: 8px;
    color: #8bbae5;
    width: 100%;
}

.EnterpriseInputFieldColor .MuiInputBase-root {
    color: #72a9de;
    border: 1px solid #72a9de;
    border-radius: 8px;
}

.EnterpriseError .css-1wc848c-MuiFormHelperText-root {
    color: red !important;
    line-height: 0 !important;
}

.privacy-policy .css-qklaqr-MuiListItemIcon-root {
    min-width: 32px;
}

::placeholder {
    color: #c9ddf0;
}

.react-tel-input .country-list .country {
    color: #000 !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
    background-color: transparent !important;
}

.react-tel-input .form-control {
    border: none !important;
    background-color: transparent !important;
    color: #72a9de;
}

.user-signup .react-tel-input .user-signup .form-control {
    color: #fff !important;
}

.react-tel-input .flag-dropdown {
    border: none !important;
    background-color: transparent !important;
}

.react-tel-input .selected-flag .arrow {
    border-top: 4px solid #fff !important;
}

.currentSignInPhone-style {
    margin-bottom: 16px;
    position: relative;
}

.ReactPhoneInput-style {
    border-radius: 8px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    outline: none;
    height: 55px;
    color: #fff;
}

.page-title {
    margin-bottom: 15px !important;
    text-align: left;
    line-height: 1.6 !important;
    font-weight: 700 !important;
    font-size: 22px !important;
}

.page-text {
    margin-bottom: 10px !important;
    text-align: left;
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: #6fa8dd;
}

.page-sub-title {
    margin-bottom: 10px !important;
    text-align: left;
    font-Size: 18px !important;
    line-height: 1.6 !important;
    font-weight: 700 !important;
}

.home-page-btn-container {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-page-btn {
    width: 300px;
    margin: auto !important;
}

.page-link {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding-right: 10px;
    border-right: none;
}

;

.page-image {
    width: auto;
}

.page-container {
    margin-bottom: 25px;
}

.ya-terms-policy-listitem svg {
    position: absolute;
    top: 13px;
}

.yanki-logo-image {
    width: 60%;
}

.change-password-success {
    margin-bottom: 54px !important;
    text-align: center
}

.phone-number-error {
    color: #ffc9c9 !important;
}

.new-title-container {
    max-width: 100%;
}

.new-title-yanki-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}

.new-title-heading {
    text-align: center;
    font-weight: 600 !important;
    color: #72a9de;
    font-size: 16px !important;
    line-height: 28px !important;
}

.new-title-tab {
    font-weight: bold !important;
    color: #72a9de !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
}

.new-title-active-tab-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 30px auto;
}

.new-title-dark-theme {
    background-color: #13538b !important;
    color: #fff !important;
    font-size: 0.9rem !important;
    text-transform: capitalize !important;
}

.new-title-light-theme {
    background-color: #13538b !important;
    color: lightblue !important;
    border: 1px solid lightblue !important;
    font-size: 0.9rem !important;
    text-transform: capitalize !important;
}

.new-title-partnership {
    text-align: center;
    margin-bottom: 30px !important;
}

.partnership-logos-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.linkStyle {
    color: #457bac;
    font-size: 15px;
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px solid #457bac;
}

.new-title-email {
    border-right: none !important;
}

.login-page-title {
    font-weight: bold !important;
    color: #72a9de;
}

.login-page-login-button {
    text-transform: capitalize !important;
}

.google-button {
    margin-bottom: 35px !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
    color: #72a9de !important;
}

.googleIcon {
    width: 18px !important;
    padding-bottom: 2px;
}

.email-sent-logo {
    max-width: 185px;
    display: block;
    margin: 0 auto 30px auto;
}

.policy-container, .termsofUse-container {
    max-width: 800px;
    margin: auto;
}

.white-color {
    color: #fff !important;
}

.lightBlue-color {
    color: #6fa8dd !important;
}

.text-font-size {
    font-size: 14px !important;
}

.search-query {
    margin-bottom: 10px;
    background-color: #1d4a72 !important;
    padding: 10px;

    .search-query-container {
        display: flex;
        align-items: center;
    }
}

.sky-blue-color {
    color: #8bbae5;
}

.signinpage-phone-error {
    color: #ffc9c9;
}

.signinpage-text-container {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 25px;
}

.signinpage-terms {
    font-weight: 600 !important;
    color: #fff !important;
}

.light-color {
    color: #8fc2f1;
}