.EnterpriseCategorySelect div {
    display: flex;
}

.tabStyle .css-y5szmw-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    background-color: #72a9de;
}

.tabStyle span.MuiTabs-indicator.css-1dpyo67-MuiTabs-indicator{
    background-color : #72a9de !important;
}

.InputFieldColor input {
    color: #13538b !important;
}

.InputFieldColor .MuiInputBase-root{
    background-color: #eaf5ff;
    border: 1px solid #6fa8dd;
    border-radius: 8px;
    margin-bottom: 16px;
    color: #8bbae5;
    width: 100%;
}