.start-chat-container {

    display: flex;
    justify-content: flex-end;
    margin-right: 40px;

    .start-chat {
        margin-top: 10px;
        background: #ffffff;
        width: 150px;
        border-radius: 4px;
        padding: 10px 16px;
        color: #0F3658;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
}

.chat-agent-heading {
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}

.chat-agent-title {
    font-size: 12px !important;
    margin-bottom: 15px !important;
}

.user-chat-container {
    min-height: calc(100% - 150px);
    max-height: calc(100% - 150px);
    overflow-y: auto;
}

.small-user-chat-container {
    min-height: calc(100% - 170px);
    max-height: calc(100% - 170px);
    overflow-y: auto;
}

.chat-agent-container {
    height: 369px;
}

.message {
    padding: 15px 20px 15px 15px;
    border-radius: 4px;
    max-width: 302px;
    position: relative;
    border-radius: 10px;
    min-width: 55px;
    word-wrap: break-word;
}

.incoming {
    background: #142444;

    p {
        font-size: 14px;
        font-weight: 400;
    }

    img {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}

.outgoing {
    background: var(--primary-400, #235D9F);

    p {
        font-size: 14px;
        font-weight: 400;
    }

    img {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
}

.user-message-time {
    font-weight: 500;
    font-size: 11px;
    color: var(--neutral-400, #AEAFB0);
    margin-bottom: 10px;
    background-color: transparent !important;
    position: absolute;
    margin-top: 20px;
}

.incoming-time {
    right: 5px;
}

.outgoing-time {
    left: 5px;
}

.message-outgoing-container {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 18px;
}

.message-incoming-container {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 18px;
}

.agentAvtar, .userAvtar {
    width: 26.67px !important;
    height: 26.67px !important;
}

.chat-with-agent, .small-chat-with-agent {
    background: #192D56;
    border-radius: 48px;
}

.chat-with-agent fieldset {
    border: none;
}

.small-chat-with-agent fieldset {
    border: none;
}

.chat-with-agent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
}

.chat-with-agent {
    width: 55vw;
}

.user-chat-session {
    margin-top: 10px;
}

.send-button {
    background: var(--primary-300, #3F85D5) !important;
    border-radius: 36px !important;
    padding: 10px 16px 10px 16px !important;
    gap: 8px;
} 

.send-button-message {
    font-size: 16px !important;
    font-weight: 500;
}

.chat-finished-title {
    text-align: center;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin-bottom: 20px !important;
}