/* Separate styles for allZmans component */
.allZmans {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 1em;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 1em;
  height: max-content;
  border: 0;
  border-radius: 20px;
  transition: all 0.4s ease;

  /* Style for loading component*/
  .loading {
    width: 55%;
    margin-left: auto;
    align-self: center;
  }

  /* Style for title of all zmans */
  .title {
    font-size: 24px;
    font-weight: 500;

    /* style for semantically emphasized words */
    em {
      font-weight: 600;
    }
  }

  /* Responsiveness for small devices */
  @include sm {
    font-size: 18px;
  }

  /* Responsiveness for medium devices  */
  @include md {
    font-size: 20px;
  }

  /* Responsiveness for large devices  */
  @include lg {
    font-size: 22px;
  }

  /* Importing styles of singleZman component */
  @import "./singleZman";
}
