/* Styles for Answer section component */
.answer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-size: 22px;
  line-height: 1.6;
  height: max-content;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease;

  /* Resizing lottie image of Candle */
  .candle {
    width: 10em;
    height: 10em;

    &.false {
      display: none;
    }
  }

  /* Responsiveness for whole component using mixins  */
  /* Extra small screens */
  @include xs {
    font-size: 1em;

    .candle {
      display: none;
    }
  }

  /* Small screens */
  @include sm {
    font-size: 18px;
  }

  /* Medium screens */
  @include md {
    font-size: 20px;
  }

  /* Large screens */
  @include lg {
    font-size: 22px;
    .candle {
      display: block;
    }
  }
}
