/* Styles for footer component */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 5em;
  width: 100%;
  font-size: 12px;
  transition: all 0.4s ease;

  /* Styles for partnership with myZmanim */
  .myZmanim {
    margin: 1em 0 0 5em;

    img {
      width: 45%;
    }
  }

  /* Alignment for contactUs hyper link */
  .contactUs {
    margin: 0 2.5em 0 0;
    text-align: center;
    text-decoration: none;

    a {
      color: $dark;
      font-weight: 550;
      font-size: 12px;
      text-decoration: underline;
    }
  }
}
