// absolute margin
.margin-54 {
    margin: 54px
}

.marginY-54 {
    margin-top: 54px;
    margin-bottom: 54px;
}

.marginX-54 {
    margin-left: 54px;
    margin-right: 54px;
}

.marginBottom-34 {
    margin-bottom: 34px !important;
}

.marginBottom-10 {
    margin-bottom: 10px !important;
}

.marginBottom-14 {
    margin-bottom: 14px !important;
}

.marginY-28 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}

.marginBottom-30 {
    margin-bottom: 30px !important;
}

.marginBottom-20 {
    margin-bottom: 20px !important;
}

.marginBottom-132 {
    margin-bottom: 132px !important;
}

.marginBottom-110 {
    margin-bottom: 110px !important;
}

.margin-15 {
    margin: 15px;
}

.marginX-10 {
    margin: 0 10px !important;
}

.marginY-15 {
    margin: 15px 0 !important;
}

.marginTop-28 {
    margin-top: 28px !important;
}

.marginBottom-16 {
    margin-bottom: 16px !important;
}

.marginTop-25 {
    margin-top: 25px !important;
}

.marginBottom-156 {
    margin-bottom: 156px;
}

.marginBottom-54 {
    margin-bottom: 54px !important;
}

.marginX-8 {
    margin: 0 8px !important; 
}

.marginBottom-25 {
    margin-bottom: 25px !important;
}

.marginY-10 {
    margin: 10px 0 !important;
}

.marginBottom-50 {
    margin-bottom: 50px !important;
}