// absolute margin
.margin-54 {
    margin: 54px
}

.marginY-54 {
    margin-top: 54px;
    margin-bottom: 54px; 
}

.marginX-54 {
    margin-left: 54px;
    margin-right: 54px;
}

.marginBottom-34 {
    margin-bottom: 34px !important;
}

.marginBottom-10 {
    margin-bottom: 10px;
}

.marginBottom-14 {
    margin-bottom: 14px;
}

.marginY-28 {
    margin-top: 28px;
    margin-bottom: 28px;
}