// Variables

// variables for theme toggle
$light: #fff;
$dark: #000;

$light-bg: #fafafa;
$dark-bg: #063762;

$light-search-border: #cecece;
$dark-search-border: $dark-bg;

$dark-text-bg: #13538b;

$light-reset: #707070;
$dark-reset: #6fa8dd;

$dark-placeholder: #6fa8dd;

/* variables for all device breakpoints */
$xs: 0;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
