.youtube-box {
  padding: 16px;
  background-color: #011c34 !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #214564;
  margin-top: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.youtube-container {
  margin-bottom: 16px;
}

.switch-buttons {
  display: flex;
}

.switch-button {
  background-color: #2f587d;
  padding: 12px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px !important;
}

.video-title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  color: #fff !important;
}

.color-white {
  color: #fff !important;
}

.switch-button.selected {
  background-color: #6fa8dd;
}

.showYouTubeVideos {
  display: none;
}

p.kosher-heading {
  display: block;
  color: #5488b9;
  font-size: 12px;
}

p.kosher-text {
  font-size: 15px;
}

p.kosher-text strong {
  color: #6fa8dd;
  font-weight: 400 !important;
  font-size: 14px;
}

.enterprise-info-box {
  background-color: #2f587d;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  text-align: left;
  text-transform: none;
  margin-left: 0px;
}

.email-click {
  color: #b9deff;
  cursor: pointer;
}

.enterprise-info-button {
  text-transform: capitalize !important;
  padding: 3px 6px !important;
  font-size: 14px !important;
  margin-top: 15px !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #fff !important;
}

.send-email-message {
  padding: 10px;
  color: #fff !important;
}

.demo-enterprise-wrapper .MuiPaper-elevation {
  background-color: #002d55 !important;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.demo-enterprise-InsertCommentIcon {
  margin-right: 8px;
  color: #fff;
  margin-top: 5px;
}

.demo-enterprise-Typography {
  font-size: 16px;
  color: #fff;
}

.demo-enterprise-List {
  display: flex;
}

.enterprise-pdf-icon {
  margin-bottom: 10px !important;
  display: flex;
  justify-content: flex-end;
}

.enterprise-pdf-icon span {
  background-color: #2f587d;
  padding: 3px 5px;
  border-radius: 6px;
}

.enterprise-pdf-btn .MuiGrid-root.MuiGrid-item .MuiTypography-root {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
  width: 150px;
  white-space: nowrap;
  margin-top: 0;
}

.enterprise-pdf-icon span svg {
  color: #fff;
}

.pdf-box {
  background-color: rgb(47, 88, 125);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
  }
}

.button-style {
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;

  button {
    background: #13538b;
    border: navajowhite;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    color: lightblue;
    font-size: 15px;
  }
}

.pdf-button-style {
  min-width: 130px;
  height: 45px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background: #13538b;
  color: lightblue;
}

.pdf-modal {
  width: 90vw;
  height: 88vh;
  position: relative;
  text-align: center;
}

.pdf-modal .MuiIconButton-root {
  position: absolute;
  top: 20px;
  right: 8px;
  z-index: 1;
  background-color: #6fa8dd;
}

.pdf-modal .MuiIconButton-root:hover {
  background-color: #5c8dbb;
}

.enterprise-pdf-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.enterprise-pdf-thumbnail {
  background-color: rgb(47, 88, 125);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enterprise-pdf-name {
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.enterprise-pdf-text {
  font-size: 16px !important;
  margin-bottom: 12px !important;
}

.enterprise-pdf-link,
.sentence-answer-container a {
  color: #007bff;
  cursor: pointer;
}

.enterprise-pdfAnswer-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999 !important;
}

.error-answer-container {
  display: flex;
  align-items: center;
}

.error-answer-message,
.sentence-answer-container {
  font-size: 16px !important;
}

.govaden-answer-tooltip {
  max-width: 350px !important;
}

.govaden-answer-prayer-table {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.kosher-product-name {
  font-size: 15px !important;
}

.email-profile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.profile-yanki-logo {
  width: 200px;
  margin-bottom: -10px;

}

.user-top-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.profile-logo {
  cursor: pointer;
}

.sentence-answer-button {
  margin-right: 8px !important;
  margin-top: 8px !important;
}

.sentence-answer-response {
  margin-top: 8px !important;
}

.torahanytime-source-title {
  max-width: 300px;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.torahanytime-source-speakerName {
  text-align: left;
}

.sentence-answer-container ol,
ul {
  margin-left: 20px;
}

.enterprise-prompt-msg {
  margin-top: 10px;
}

.delete-account-content {
  strong {
    color: #6fa8dd;
    display: none;
  }
}

.account-setting-menu {
  display: flex !important;
  justify-content: flex-end !important;
}

.go-to-admin-icon {
  color: #adbac6;
}

.menu-li-color li.MuiButtonBase-root.MuiMenuItem-root {
  color: #dddddd;
}

.Mui-Container-UserMenu {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.pdf-loader-container{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

audio {
  width: 100%;
  margin-bottom: 10px;
}

.white-color{
  color: #fff;
}