.Map-input-box {
    display: none;
}

.close-button {
    margin-top: 10px;
    text-align: right;

    button {
        padding: 5px !important;
        height: 30px !important;
        border-radius: 0 !important;
        background: #e0e2e5;
        min-width: 30px !important;
    }
}
