.hatzala-info-box div {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hatzala-error-box div {
  font-size: 16px !important;
}

.coordinates-label,
.coordinates-value {
  font-size: 16px !important;
  border-bottom: 1px solid #2f587d !important;
}

.tap-to-call-button {
  padding: 7px 15px;
  background-color: #fff;
  color: #012e55;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  width: max-content;
  line-height: 32px;
}

.phonenumber-link {
  color: #007bff;
  cursor: pointer;
}

td.coordinates-label {
  border-right: 1px solid #2f587d;
}

.copy-icon {
  text-align: right !important;
}

.coordinates-button {
  border-color: #2f587d !important;
}

.hatzala-table-wrapper::-webkit-scrollbar {
  opacity: 0;
  height: 0px;
  transition: 0px 3s linear;
}

.hatzala-table-wrapper:hover::-webkit-scrollbar {
  opacity: 0.5;
  height: 1px;
  transition: 2px 2px 3s ease-in-out;

}

.hatzala-table-wrapper:hover {
  scrollbar-width: 20px;
}

.hatzala-table-wrapper::-webkit-scrollbar-thumb {
  background-color: #13416a;
}

.hatzala-table-wrapper {
  scrollbar-width: 0px;
  border: 1px solid #2f587d;
  width: 100%;
  transition: 2px 2px 3s ease-in-out !important;
}

.hatzala-disclaimer-box {
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.switch-button {
  background-color: #2f587d;
  padding: 12px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px !important;
  min-width: 5vw;
  text-align: center;
  color: #fff !important;
}

.switch-button.selected {
  background-color: #6fa8dd;
}

@media (min-width: 0px) {
  .switch-button {
    min-width: 40vw;
  }
}

@media (min-width: 600px) {
  .switch-button {
    min-width: 25vw;
  }
}

@media (min-width: 900px) {
  .switch-button {
    min-width: 20vw;
  }
}

@media (min-width: 1300px) {
  .switch-button {
    min-width: 10vw;
  }
}

.youtube-box {
  padding: 16px;
  background-color: #011c34 !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #214564;
  margin-top: 20px;
  padding: 16px;
}

.hatzala-disclaimer {
  margin-left: 7px !important;
}

.hatzala-training {
  margin-right: 7px !important;
}

.hatzhala-model-color {
  color: #012e55;
}
.hatzhala-modal-close-btn{
  position: absolute !important;
  right: 8px !important;
  top: 8px !important;
  color: #012e55 !important,
}