.active .highlightStyle{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}


/* width */
::-webkit-scrollbar {
    width: 0px;
  }
 
  .enterprise-request-table::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .react-tagsinput {
    background-color: transparent !important;
    border: none !important;
    padding-left: 0px !important;
}

span.react-tagsinput-tags,  .react-tagsinput-tag {
  background-color: #6fa8dd !important;
  border-radius: 5px!important;
  border: 1px solid #a9cae9!important;
  color: #fdfdfd!important;
}
.keyword-update-box p{
  margin-bottom: 8px;
}
.pdf-modal {
  width: 90vw;
  height: 88vh;
  position: relative;
}
.pdf-modal .MuiIconButton-root {
  position: absolute;
  top: 20px; /* You can adjust this value as needed */
  right: 8px;
  z-index: 1;
  background-color: #6fa8dd;
}

.pdf-modal .MuiIconButton-root:hover {
  background-color: #5c8dbb; /* You can adjust this value for the hover effect */
}

.form-input input {
  background-color: #eaf5ff;
  border: 1px solid #6fa8dd;
  border-radius: 8px;
  margin-bottom: 6px;
  color: #8bbae5;
  width: 100%;
  min-height: 15%;
  padding: 15px;
  font-size: 16px;
}
.error-message {
  color: red !important;
  font-size: 12px !important;
  margin: 0 !important;
}