.active .highlightStyle{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}


/* width */
::-webkit-scrollbar {
    width: 0px;
  }
 
  .enterprise-request-table::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .react-tagsinput {
    background-color: transparent !important;
    border: none !important;
    padding-left: 0px !important;
}