.Ai-TextField {
    border-radius: 8px;
    margin-top: 5px !important;
    color: #8bbae5;
    width: 100%;
    font-size: 16px;
    white-space: normal !important;
}
 
h4.Ai-Heading {
    margin-bottom: 25px;
}
 
.section-container, .section-container-light {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 22px;
  }
 
  .ai-input-label {
    font-size: 14px !important;
    margin-top: 20px;
    overflow: visible !important;
    white-space: normal !important;
    color: #6fa8dd !important;
    margin-bottom: 5px !important;
}

.section-container-light{
    border: 1px solid #202020;
} .ai-input-label {
    color: #202020 !important;
}

