.ya-home-wrapper {
    height: 100vh;
    width: 100vw;
}

.ya-home-header {
    position: sticky !important;
    box-shadow: none !important;
}

.ya-home-darkblue-background {
    background: #022b4f !important;
}

.ya-home-white-background {
    background: #fff !important;
}

.ya-home-lightblue-color {
    color: #8bbae5 !important;
}

.ya-home-white-color {
    color: #fff !important;
}

.ya-logo-img {
    width: 160px;
}

.ya-home-new-chat-dark-theme,
.ya-answer-container-dark-theme {
    background-color: #13416a !important;
    color: #fff !important;
}

.ya-home-new-chat-light-theme {
    background-color: #eaf5ff !important;
    color: #72a9de !important;
}

.ya-home-blue-color {
    color: #6fa8dd !important;
}

.ya-home-gray-color {
    color: gray !important;
}

.ya-home-active-session-btn {
    color: #13416a !important;
    background-color: #eaf5ff !important;
}

.ya-home-delete-btn {
    position: absolute !important;
    top: 2px;
    right: 0;
    border-radius: 0 8px 0 0 !important;
}

.ya-answer-container {
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}

.ya-answer-container-border {
    border-radius: 20px;
}

.ya-answer-container-smallScreen-border {
    border-radius: 20px 20px 0px 0px;
}

.ya-answer-container-response {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-height: calc(100% - 100px);
    overflow-y: scroll;
    min-height: calc(100% - 100px);
    padding: 30px 0;
}

.ya-answer-container-search {
    height: 100px;
}

.ya-main-text-heading {
    font-size: 33px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ya-answer-wrapper {
    margin-left: 0px;
    transition: margin-left 0.3s;
    position: relative;
}

.ya-answer-wrapper-dark-theme {
    background-color: #022b4f;
}

.ya-answer-wrapper-light-theme {
    background-color: #fff;
}

.ya-answer-drawn-open {
    margin-left: 0px;
}

.ya-answer-drawn-close {
    margin-left: 260px !important;
}

.ya-answer-container-light-theme {
    background-color: #eaf5ff;
}

.fixed-search-Box {
    position: fixed;
    bottom: 10px;
    left: 40px;
    right: 40px;
    max-width: 100%;
}

.ya-answer-container-question {
    margin-left: auto;
}

.ya-answer-container-search-dark-theme {
    background: transparent;
}

.ya-answer-container-search-light-theme {
    background: #eaf5ff;
}

.ya-search-dark-theme {
    color: #13416a !important;
}

.ya-search-light-theme {
    color: #063762 !important;
}

.ya-home-table-btn {
    background-color: #fff !important;
}

.ya-search-container {
    padding-top: 20px;
}

.ya-search-query-container {
    margin-bottom: 1rem !important;
    border-radius: 50px;
}

.ya-search-query-container-dark-theme {
    background-color: #063762 !important;
    color: #fff !important;
}

.ya-search-query-container-light-theme {
    background-color: #fff;
    color: #8bbae5;
}

.ya-answer {
    overflow-y: auto;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
}

.add-body-css {
    overflow: hidden;
    height: 100%;
    position: relative;
}

@media (max-width: 600px) {
    .fixed-search-Box {
        right: 20px;
        left: 20px;
    }
}

@media (min-width: 1100px) {
    .fixed-search-Box {
        left: 50px;
        right: 50px;
    }
}

@media (min-width: 1300px) {
    .fixed-search-Box {
        left: 60px;
        right: 60px;
    }
}

@media (min-width: 1800px) {
    .fixed-search-Box {
        left: 70px;
        right: 70px;
    }
}

@media (min-width: 2300px) {
    .fixed-search-Box {
        max-width: 100%;
        left: 80px;
        right: 80px;
    }
}

@media (min-width: 2800px) {
    .fixed-search-Box {
        max-width: 100%;
        left: 90px;
        right: 90px;
    }
}


@media (max-width: 640px) {
    .ya-answer {
        min-height: calc(100vh - 250px);
        max-height: calc(100vh - 250px);
    }
}