.source-selection-menu {
    .MuiPaper-root.MuiPopover-paper {
        background: linear-gradient(135deg, #102C4B 10%, #6a8db6 100%) !important;
        border: 0.5px solid #102C4B !important;
        padding: 8px;
        border-radius: 7px;
        width: 280px !important;
        top: unset !important;
        bottom: 0 !important;
        margin-bottom: 90px;
        min-height: 280px;
        max-height: 280px;
    }

    ul.MuiMenu-list {
        padding: 0 !important;
        max-height: 280px; 
        overflow-y: auto;  
    &::-webkit-scrollbar {
        width: 2px; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: #6fa8dd; 
        border-radius: 2px; 
    }

    &::-webkit-scrollbar-track {
        background-color: #153860; 
    }


        .menu-item {
            margin-bottom: 5px;
            border-radius: 4px;
            background-color: #13416B;
            color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            opacity: 1;
            min-height: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            &.selected {
                background-color: #153860 !important;
                border: 1px solid #7DADE3;
            }

            &:hover {
                background-color: #153860;
            }

            &.disabled {
                background-color: #D2D6D9 !important;
                opacity: 1 !important;
            }

            &.disabled span {
                color: #153860 !important;
            }

            svg {
                color: #7DADE3 !important;
                font-size: 25px;
            }

            span {
                color: #819AB0;
                font-weight: 600;
            }
        }
    }
}

button.menu-item-button {
    height: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
    &:hover {
        background-color: transparent;
    }
}