.event-request-container {
    display: flex;
}

.enterpriseFormBox {
    flex: 1;
    margin-left: 0;
    transition: margin-left 0.3s;
    margin-top: 60px;
    padding: 16px 0 0 16px;
}

.agent-chat-background {
    background-color: #032B4F;
}

.chat-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
}

.user-list-container {
    background: #032B4F;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    padding: 11px 9px 11px 9px;
    margin-top: 8px;
    margin-left: 5px;
}

.user-info-container {
    width: 280px;
    height: 70px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.deactivateChatSession {
    background: transparent;
}

.activeChatSession {
    background: #0D4170;
}

.user-info {
    width: 212px;
    margin-left: 10px;
}

.user-details {
    display: flex;
    justify-content: space-between;
}

.user-email {
    font-size: 13px !important;
    font-weight: 700 !important;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.8px;
}

.last-message-time {
    color: var(--neutral-300, #C0C1C1);
    font-size: 13px !important;
    font-weight: 500 !important;
}

.last-message {
    color: var(--neutral-200, #D4D5D5);
    font-size: 12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 212px;
}

.user-image {
    width: 40px;
    height: 40px;
}

.messageList-container {
    height: 100%;
    overflow: hidden;
}

.userListShow {
    width: calc(100% - 310px);
}

.userListHide {
    width: 100%;
}

.chat-header {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-400, #235D9F);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
}

.chat-header-info-hide {
    margin-left: 10px;
}

.chat-header-info {
    margin-left: 20px;
}

.chat-header-info-email {
    font-weight: 700 !important;
}

.chat-header-info-status {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #B9BEC3;
}

.chat-header-user-image {
    width: 40px;
    height: 40px;
}

.user-list-show-image {
    margin-left: 15px;
}

.user-list-hide-image {
    margin-left: 5px;
}

.message-content-container {
    overflow: hidden;
    height: calc(100% - 90px);
    position: relative;
    z-index: 2;
}

.message-content {
    min-height: calc(100% - 90px);
    max-height: calc(100% - 90px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    margin-top: 20px;
}

.chat-input-container {
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input-field {
    background: #192D56;
    border-radius: 48px;
    bottom: 10px;
}

.chat-input-container fieldset {
    border: none;
}

.chat-box {
    position: relative;
    top: 20px;
}

.message-item {
    border-radius: 10px;
    max-width: 302px;
    padding: 15px 20px 15px 15px;
    position: relative;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.message-outgoing {
    background: var(--primary-400, #235D9F);
    margin-left: auto;

    p {
        font-size: 14px !important;
        color: #E1E1E1;
    }

    img {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

.message-incoming {
    background: #0F3559;
    margin-right: auto;

    p {
        font-size: 14px !important;
        color: #E1E1E1;
    }

    img {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

.timestamp-incoming {
    margin-right: auto;
    font-size: 11px !important;
    font-weight: 500 !important;
    color: var(--neutral-400, #AEAFB0);
    margin-bottom: 20px;
    padding-left: 4px;
}

.timestamp-outgoing {
    margin-left: auto;
    font-size: 11px !important;
    font-weight: 500 !important;
    color: var(--neutral-400, #AEAFB0);
    margin-bottom: 10px;
    padding-right: 2px;
}

.no-user-message {
    display: flex;
    justify-content: center;
    font-size: 30px !important;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px !important;
}

.user-list-hide {
    display: none;
}

.input-field-show {
    width: 50vw !important;
}

.input-field-hide {
    width: 80vw !important;
}

.chat-header-hide-user-list {
    margin-top: 10px;
    margin-left: 15px;
}

.agent-chat-container-hide {
    overflow: hidden;
    height: 100%;
}

.agent-chat-container-show {
    overflow: hidden;
    height: 100vh;
}

.message-box {
    display: flex;
    align-items: center;
}

.unseen-message-count {
    width: 19px;
    height: 14px;
    padding: 0px 3px 0px 3px;
    border-radius: 30px;
    margin-right: 5px;
    background: var(--primary-300, #3F85D5);
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}

.header-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish-chat-container {
    width: 135px;
    background: #286395 !important;
    height: 39px;
    border-radius: 10px !important;
    padding: 20px !important;
    margin-right: 20px !important;
}

.finish-chat {
    font-size: 14px;
    font-weight: 500;
    margin-left: 7px;
}

.current-user-information {
    height: 38px;
    width: 38px;
    background: #142444 !important;
    padding: 16px 8px !important;
    margin-right: 25px !important;
}

.additional-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.finish-chat-icon {
    width: 22px;
    height: 22px;
}

.chat-menu-dropdown-list {
    background-color: #022b4f;
}

.chat-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21365EB2;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.message-content-container.finished .chat-background {
    opacity: 1;
}

.chat-finished-notice {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    position: relative;
    z-index: 2;
    background: var(--primary-400, #235D9F);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 44px;
    bottom: 20px;
}

.user-information-close-icon {
    background-color: var(--primary-300, #3F85D5) !important;
    height: 38px;
    width: 38px;
    padding: 16px 8px !important;
    gap: 10px;
    border-radius: 50px !important;
}

.chat-header-back-arrow {
    background-color: #142444 !important;
    height: 38px;
    width: 38px;
    padding: 16px 8px !important;
    gap: 10px;
    border-radius: 50px !important;
    margin-left: 15px !important;

    img {
        height: 19px !important;
    }
}

.chat-information-container {
    display: flex;
    width: 100%;
    background-color: #13416A;
    border-radius: 8px;
}

.chat-information-container-modal-open {
    background-color: #13416A;
    border-radius: 8px;
    width: 60%;
}

.input-field-open-modal {
    width: 35vw !important;
}

.user-general-info-container {
    background: #13416A !important;
    height: 100%;
    border-radius: 8px;
    margin-left: 12px;
}

.user-general-info-chat-close {
    margin-right: 12px;
}

.user-general-info-chat-open {
    width: 40%;
    margin-right: 5px;
}

.user-general-info-header {
    border-bottom: 1px solid var(--primary-400, #235D9F);
    padding: 20px;
}

.user-general-info-header-title {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.user-general-info-content {
    height: 100%;
    overflow: hidden;
}

.user-general-details-content {
    height: 40%;
    overflow-y: auto;
}

.user-general-details-container {
    border-bottom: 1px solid var(--primary-400, #235D9F);
    padding: 10px 15px;
}

.user-general-details-question {
    font-size: 12px !important;
    color: #E1E1E1;
}

.user-general-details-answer {
    font-size: 12px !important;
    font-weight: 700;
    color: #ffffff;
}

.user-other-information-container {
    height: 50%;
}

.user-other-information-title {
    padding: 10px 0;
    padding-left: 15px;
    border-bottom: 1px solid var(--primary-400, #235D9F);
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-top: 15px !important;
}

.user-other-information-content {
    height: 70%;
    overflow-y: auto;
}

.user-general-details-answer span {
    padding-right: 10px;
}

.user-general-details-content::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

.user-general-details-content::-webkit-scrollbar-track {
    background: transparent;
}

.user-general-details-content::-webkit-scrollbar-thumb {
    background: var(--primary-200, #7DADE3);
    border-radius: 6px;
}

.user-general-details-content::-webkit-scrollbar-thumb:hover {
    background: var(--primary-200, #7DADE3);
}


.user-other-information-content::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

.user-other-information-content::-webkit-scrollbar-track {
    background: transparent;
}

.user-other-information-content::-webkit-scrollbar-thumb {
    background: var(--primary-200, #7DADE3);
    border-radius: 6px;
}

.user-other-information-content::-webkit-scrollbar-thumb:hover {
    background: var(--primary-200, #7DADE3);
}

.hideChatContainer {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.user-details-not-found {
    text-align: center;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 20px !important;
}